# Desafio ETL

Esse projeto recebe uma lista de clientes em formato CSV e cria uma tabela em EXCEL com uma mensagem de incentivo aos investimentos.

# Extract
Extraindo a lista de usuário a partir do arquivo CSV

In [3]:
import pandas as pd

df = pd.read_csv('Clients.csv')

# Transform
Transformando o arquivo em um DataFrame

In [4]:
df

   id      name  salary
0   1     Diego     1.5
1   2  Claysson     1.0
2   3   Larissa     2.5
3   4    Bilene     1.0
4   5    Fulano     1.5
5   6      Joao     2.0
6   7     Maria     1.8
7   8      Jose     4.0

In [5]:
nomes_clientes = df['name'].tolist()

 
df['mensagem'] = df['name'].apply(lambda name: name + ' Investir pode garantir um bom futuro' if name else None)

df

   id      name  salary                                       mensagem
0   1     Diego     1.5     Diego Investir pode garantir um bom futuro
1   2  Claysson     1.0  Claysson Investir pode garantir um bom futuro
2   3   Larissa     2.5   Larissa Investir pode garantir um bom futuro
3   4    Bilene     1.0    Bilene Investir pode garantir um bom futuro
4   5    Fulano     1.5    Fulano Investir pode garantir um bom futuro
5   6      Joao     2.0      Joao Investir pode garantir um bom futuro
6   7     Maria     1.8     Maria Investir pode garantir um bom futuro
7   8      Jose     4.0      Jose Investir pode garantir um bom futuro

# Load
Criando um arquivo em Excel com a inserção das novas informações.

In [6]:
new_arquivo = 'clients new.xlsx'

df.to_excel(new_arquivo, index=False)


print(f'Arquivo Excel "{new_arquivo}" criado com sucesso.')

Arquivo Excel "clients new.xlsx" criado com sucesso.